## Data Science Project: Predicting StreetEasy Rent Prices

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

from sklearn.linear_model import LinearRegression, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.metrics import  mean_squared_error
from sklearn.model_selection import KFold, train_test_split

## Load The Data

In [2]:
# training data with its park and school data
test1_df = pd.read_csv('./csv/SE_rents2018_test1.csv')
train_df = pd.read_csv('./csv/SE_rents2018_train.csv')
train_park_df = pd.read_csv('./csv/number_of_parks_updated.csv')
train_school_df = pd.read_csv('./csv/number_of_schools.csv')

# test2 data and its park and school data
test2_df = pd.read_csv('./csv/SE_rents2018_test2.csv')
test2_park_df = pd.read_csv('./csv/test2_parks.csv')
test2_school_df = pd.read_csv('./csv/test2_schools.csv')

In [3]:
# Append test1 to train_df
train_df = train_df.append(test1_df, ignore_index = True)

## Data Cleaning

In [4]:
# Abstracted Data Cleaning Functions
import external_funcs as ef

### Missing Data

In [5]:
# add min_to_subway
train_df['min_to_subway'] = ef.fill_mins_to_subway(train_df)

# add floor_count
train_df['floor_count'] = ef.fill_floor_count(train_df)
train_df.loc[train_df['floor_count'].isna(), 'floor_count'] = [3.0, 3.0, 2.0, 4.0, 7.0, 6.0, 2.0, 5.0, 6.0, 7.0, 6.0, 6.0, 18.0, 3.0, 3.0, 2.0, 4.0, 3.0, 12.0]

# add floornumber
train_df['floornumber'] = ef.fill_floornumber_final(train_df)

# add missing size sqrt
train_df['size_sqft'] = ef.fill_size_sqft(train_df)

### Feature Engineering

In [6]:
train_df['number_of_privileges'] = ef.number_privileges(train_df)
train_df['number_of_parks'] = ef.number_of_parks(train_park_df, train_df)
train_df['number_of_schools'] = ef.number_of_schools(train_school_df, train_df)
train_df['park_level'] = ef.park_level(train_df)
train_df['school_level'] = ef.school_level(train_df)

In [7]:
train_df.head().transpose()

,0,1,2,3,4
rental_id,7236931,7331920,7139224,7364827,7242151
addr_unit,#22A,#406,#18A,#23E,#3B
building_id,551248,3373,70747,42076,319156
bedrooms,4,0,3,1,3
bathrooms,3,1,3,1,1
size_sqft,1300,475,1886,827,1200
created_at,2018-06-04 16:31:06,2018-07-03 20:11:43,2018-05-02 16:10:27,2018-07-13 16:06:55,2018-06-05 16:35:40
addr_street,645 OCEAN AVENUE,93 WORTH STREET,305 EAST 51 STREET,70 WEST 37TH STREET,43 MAC DONOUGH STREET
addr_city,Brooklyn,New York,New York,New York,Brooklyn
addr_zip,11226,10013,10022,10018,11216
addr_lat,40.647,40.7166,40.7554,40.7513,40.6811
addr_lon,-73.9601,-74.0048,-73.9676,-73.9863,-73.9447
bin,3.11762e+06,1.00188e+06,1.03968e+06,1.01592e+06,3.05334e+06
bbl,3051240001,1001737504,1013440001,1008380001,3018510053
floor_count,6,17,33,24,4
year_built,1929,2014,2013,2019,1931
min_to_subway,3.35,3.2333,3.05,2,2.1333
has_doorman,0,1,1,1,0
has_elevator,1,1,1,1,0
has_fireplace,0,0,0,0,0
has_dishwasher,1,1,1,1,0
is_furnished,0,0,0,0,0
has_gym,0,1,1,1,0
allows_pets,1,1,1,1,1
has_washer_dryer,1,1,0,0,0
has_garage,0,0,1,1,0
has_roofdeck,0,1,0,1,0
has_concierge,0,1,0,1,0
has_pool,0,0,1,0,0
has_garden,0,0,1,0,0
has_childrens_playroom,0,0,0,0,0
rent,3925,3350,11500,3772,2595
no_fee,1,0,0,1,1
description,MAGNIFICENT GUT RENOVATED 4 BEDROOM 3 BATHROOM...,Want to live in the hottest neighborhood in to...,"High floor totally renovated 3 bedrooms, 3 bat...",**SHORT TERM LEASES AVAILABLE**\n\n****Photogr...,This is a Huuge 3 bedroom apt. located in a pr...
neighborhood,Flatbush,Tribeca,Midtown East,Midtown South,Bedford-Stuyvesant
borough,Brooklyn,Manhattan,Manhattan,Manhattan,Brooklyn
unit,22A,406,18A,23E,3B
floornumber,2,4,18,23,3
line,NaN,06,A,E,B
number_of_privileges,4,8,8,8,1
number_of_parks,3,11,6,12,4
number_of_schools,20,20,20,20,20
park_level,1,2,1,2,1
school_level,1,1,1,1,1

## Data Visualization

In [8]:
# Future Implementation

## Model Training

In [9]:
# Crossvalidation Function for classifer

def get_cv_results(classifier, train_df):
    results = []
    k_fold = KFold(n_splits=10)
    
    for train, test in k_fold.split(train_df):
        classifier.fit(train_df.loc[train, features], train_df.loc[train, 'rent'])
        y_predicted = classifier.predict(train_df.loc[test, features])
        accuracy = mean_squared_error(train_df.loc[test, 'rent'], y_predicted)
        results.append(accuracy)
    return np.mean(results), np.std(results)

### Feature Selection

In [10]:
features = [
    'size_sqft', 
    'bathrooms', 
    'number_of_privileges',
    'bedrooms','borough' ,
    'floor_count', 
    'floornumber', 
    'school_level',
    'park_level'
]

# remove unused features
model_df = train_df[(features + ['rent'])]
model_df = pd.get_dummies(model_df)

# redefined features with boroughs 
features = model_df.columns.drop('rent')

In [11]:
# create a holdout set to check for overfitting
model_train_df, model_holdout_df = train_test_split(model_df, test_size=0.2)
model_train_df.reset_index(inplace=True)
model_holdout_df.reset_index(inplace=True)

## Model Selection

### linear Models

In [12]:
# Linear Regression
linear = LinearRegression()
get_cv_results(linear, model_train_df)

(3085725.5921242987, 971956.5719108769)

In [13]:
# Lasso Regressor
LR = Lasso()
get_cv_results(LR, model_train_df)

(3085940.0430372725, 972580.7457358087)

### Ensemble Models

In [14]:
# Random Forest
rforest = RandomForestRegressor(max_depth=7,n_estimators=100)
get_cv_results(rforest, model_train_df)

(1756128.8990577355, 456854.35742391145)

In [15]:
# Ada Boosting
ada = AdaBoostRegressor(DecisionTreeRegressor(max_depth=7),learning_rate=.1)
get_cv_results(ada, model_train_df)

(1986135.1434345853, 683951.9404221417)

In [16]:
# Gradient Boost
gbm = GradientBoostingRegressor(
    max_depth=5,
    n_estimators=100
)

get_cv_results(gbm, model_train_df)

(1739779.1272931986, 471589.916525887)

### Test with Holdout Set

In [17]:
# best model
gbm.fit(model_train_df[features], model_train_df['rent'])
predicted = gbm.predict(model_holdout_df[features])

In [18]:
# Mean Square Error
mean_squared_error(model_holdout_df['rent'],predicted)

1008368.767699441

In [19]:
# error interms of $ value (Root Mean Square Error)
mean_squared_error(model_holdout_df['rent'],predicted)**(1/2)

1004.1756657574615

## Model Prediction with Test2

### Add Missing Data And Feature Engineering

In [20]:
# add min_to_subway
test2_df['min_to_subway'] = ef.fill_mins_to_subway(test2_df)

# add floor_count
test2_df['floor_count'] = ef.fill_floor_count(test2_df)

# add floornumber
test2_df['floornumber'] = ef.fill_floornumber_final(test2_df)


# add missing size sqrt
test2_df['size_sqft'] = ef.fill_size_sqft(test2_df)

# feature Engineering
test2_df['number_of_privileges'] = ef.number_privileges(test2_df)
test2_df['number_of_parks'] = ef.number_of_parks(test2_park_df, test2_df)
test2_df['number_of_schools'] = ef.number_of_schools(test2_school_df, test2_df)
test2_df['park_level'] = ef.park_level(test2_df)
test2_df['school_level'] = ef.school_level(test2_df)

### Model Prediction

In [21]:
test2_df = pd.get_dummies(test2_df)
gbm.fit(model_df[features], model_df['rent'])
predicted = gbm.predict(test2_df[features])

In [22]:
test2_submission_df = pd.DataFrame(data = {'predictions': predicted}, index=test2_df['rental_id'])

test2_submission_df.to_csv('test2_submission.csv')
test2_submission_df.head(10)

           predictions
rental_id
7428577    1830.572330
7454944    2176.471539
7473595    2729.746436
7490488    2331.695879
7460896    3450.786706
7479988    2828.743730
7496308    3697.726269
7468621    3048.321165
7430797    3281.565828
7440397    4061.233752

In [23]:
f = list(features)
test2_df[['rental_id'] + f].head(10)

,rental_id,size_sqft,bathrooms,number_of_privileges,bedrooms,floor_count,floornumber,school_level,park_level,borough_Bronx,borough_Brooklyn,borough_Manhattan,borough_Queens,borough_Staten Island
0,7428577,450.000000,1.0,1,0,4.0,4.0,0,2,0,1,0,0,0
1,7454944,950.000000,1.0,0,2,2.0,2.0,0,1,0,0,0,1,0
2,7473595,702.823361,1.0,2,1,6.0,1.0,1,2,0,0,1,0,0
3,7490488,500.000000,1.0,4,2,7.0,5.0,0,1,0,1,0,0,0
4,7460896,610.000000,1.0,5,1,12.0,11.0,1,2,0,0,1,0,0
5,7479988,900.000000,1.0,5,1,20.0,19.0,0,1,0,0,0,1,0
6,7496308,1233.407283,1.0,3,4,3.0,1.0,1,1,0,1,0,0,0
7,7468621,534.000000,1.0,9,0,12.0,3.0,1,2,0,0,1,0,0
8,7430797,609.000000,1.0,5,1,12.0,2.0,1,1,0,0,1,0,0
9,7440397,1000.000000,1.0,4,1,4.0,2.0,0,1,0,0,1,0,0

### Future Implementations
 1. Add Crime Data with the geolocation